<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=''>
        <input type='text' class='id' placeholder='type the room id' name='id'/>
        <button class='submit'>enter room</button>
    </form>
        <button class='generateid'>generate id</button>
    
    <%=id %>
    <script>
        let id='<%=id%>'
        let submit=document.querySelector('.submit')
        let genid=document.querySelector('.generateid')
        genid.addEventListener('click',(e)=>
        {
            e.preventDefault()
            let input = document.querySelector('.id')
            input.value=id
        })
        
        

    </script>
</body>
</html>